<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% title %></title>
  <meta name="description" content="<%= description %>">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <% if (message) { %>
    <div class="alert alert-<%= messageType %> mt-3" role="alert">
        <%= message %>
    </div>
<% } %>

  <script>

    document.addEventListener("DOMContentLoaded",()=>{
      const selectRol = document.getElementById("role");
      const selectParalelo = document.getElementById("paralelo");
      const selectMateria = document.getElementById("materia");
    

      selectParalelo.closest(".col-md-6").style.display = "none";
      selectMateria.closest(".col-md-6").style.display = "none";
      
      selectRol.addEventListener("change", () => {
        const selectedRole = selectRol.value;

        if(selectedRole == "Profesor"){
          selectParalelo.closest(".col-md-6").style.display = "none";
          selectMateria.closest(".col-md-6").style.display = "block";
        }
        else if(selectedRole == "Estudiante"){
          selectParalelo.closest(".col-md-6").style.display = "block";
          selectMateria.closest(".col-md-6").style.display = "block";
        } else{
          selectParalelo.closest(".col-md-6").style.display = "none";
          selectMateria.closest(".col-md-6").style.display = "none";
        }
      });


    });

  </script>
  
  
</body>
</html>
<div class="col mt-4 py-3" style="margin-left: 30px;">

      <!-- Breadcrumb -->
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Principal</a></li>
            <li class="breadcrumb-item active">Nuevo usuario</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  
  
  <form action="/add" method="POST">
    <div class="container">
      
      <!-- Nombre y Apellido -->
      <div class="row form-group mb-4">
        <div class="col-md-6">
          <label for="firstName">Nombre</label>
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nombre" required>
        </div>
        <div class="col-md-6">
          <label for="lastName">Apellido</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Apellido" required>
        </div>
      </div>
  
      <!-- Matrícula y Lector RFID -->
<div class="row form-group mb-4">
    <!-- Campo de Matrícula -->
    <div class="col-md-6">
      <label for="identificacion">Identificación</label>
      <input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="Identificación" maxlength="10" required>
    </div>
  
    <!-- Campo de RFID con botón -->
    <div class="col-md-6">
      <label for="rfid">Lector RFID</label>
      <div class="input-group">
        <input type="text" class="form-control" id="rfid" name="rfid" placeholder="Código RFID" required>
        <button type="button" class="btn btn-success" id="readRFID">Leer RFID</button>
      </div>
    </div>
  </div>

        <!-- Rol: Profesor o Estudiante -->
      <div class="row form-group mb-4">
        <div class="col-md-12">
          <label for="role">Rol</label>
          <select class="form-control" id="role" name="role" required>
            <option value="" disabled selected>Seleccione un rol</option>
            <option value="Profesor">Profesor</option>
            <option value="Estudiante">Estudiante</option>
          </select>
        </div>
      </div>
  
      <!-- Materia y Paralelo -->
      <div class="row form-group mb-4">
        <div class="col-md-6">
          <label for="materia">Materia</label>
          <select class="form-control" id="materia" name="materia" required>
            <option value="" disabled selected>Seleccione una materia</option>
            <option value="Telemetría">Telemetría</option>
            <option value="AMST">Ambientes Inteligentes</option>
            <option value="RIS">Redes Inalámbricas</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="paralelo">Paralelo</label>
          <select class="form-control" id="paralelo" name="paralelo">
            <option value="" disabled selected>Seleccione un paralelo</option>
            <option value="101">101</option>
            <option value="102">102</option>
            <option value="103">103</option>
            <option value="104">104</option>
          </select>
        </div>
      </div>
  
  
      <!-- Botón de envío -->
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Agregar Usuario</button>
        <a href="/" class="btn btn-secondary">Cancelar</a>
      </div>
    </div>
  </form>
